#uow{
    background: url("/src/assets/uow.jpg");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-color: #cecece;
}

#acs{
    background: url("/src/assets/acs.png");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-color: #AEA4A3;
}

#controller-design{
    background: url("/src/assets/phase\ controller/hardware.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
}

#svm{
    background: url("/src/assets/svm/feasibleRegion.jpg");
    background-size: contain;
    background-position: 20px -45px;
}