:root{
    --main-font-color: lightblue;
    --secondary-font-color: #0ea9f1;
    --main-background-color: black;
}



.accordion-button{
    font-size: 1.4rem;
}

.accordion-button.collapsed{
    background-color: var(--main-background-color);
    color: var(--main-font-color);
    /* border: none; */
}

.accordion-button:not(.collapsed){
    background-color: var(--main-background-color);
    color: var(--main-font-color);
    /* border: none; */

}