.my-header{
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
}


#gesture-recognition{
    background: url("/src/assets/hfgr/kf.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(190, 190, 190);
}

#Sequence{
    background: url("/src/assets/Sequence/index.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #15111A;
}

#my-site{
    background: url("/src/assets/my-site.png");
    background-size: cover;
}

#FSAE{
    background: url("/src/assets/fsae/eagle.png");
    background-size: cover;
}