:root{
    --main-font-color: lightblue;
    --secondary-font-color: #0ea9f1;
    --main-background-color: black;
}

.attribute {
    /* width: 130px; */
    height: 40px;
    margin: 10px 20px;
    color: var(--main-font-color);
    border-radius: 6px;
    padding: 10px 25px;
    font-weight: 500;
    background: black;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px var(--main-font-color),
     2px 2px 0px 0px var(--main-font-color),
     3px 3px 4px 0px var(--main-font-color);
    outline: none;
}