.my-footer{
    border-top: 1px var(--main-font-color) solid;
    box-sizing: border-box;
    font-size: medium;
    padding: 10px 0px;
    text-align: center;
    font-weight: 300;
    margin: 0 10%;
}

.footer-icon-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-icons{
    display: flex;
    align-items: center;
    padding: 10px 0px;
}