:root{
    --main-font-color: #0dcaf0;
    --secondary-font-color: #0ea9f1;
    --main-background-color: black;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    /* font-size: 1.125rem; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--main-background-color);
    color: var(--main-font-color);
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.subheading{
    text-align: center;
    font-weight: 400;
    padding: 30px;
}

@media screen and (min-width: 480px){
    .body-text{
        width: 80%;
        max-width: 800px;
        text-align: justify;
        display: block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

.post-nav{
    position: absolute;
    top: 75px;
}

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    margin: 15px;
}

.icon-list-container{
    display:flex;
    flex-direction: row;
}